/* ==========================================================
   Job List
========================================================== */

.jobs-wrapper{
    padding-top:0;
}

.jobs-grid{
    display:grid;
    grid-template-columns:repeat(3,minmax(0,1fr));
    gap:clamp(1.5rem,2vw,2rem);
}

.no-jobs{
    padding:4rem 0;
    text-align:center;
    font-size:1.1rem;
    color:var(--text-light);
}

@media (max-width:1200px){

    .jobs-grid{
        grid-template-columns:repeat(2,1fr);
    }

}

@media (max-width:768px){

    .jobs-grid{
        grid-template-columns:1fr;
    }

}